<div class='container'>
  <div class='row'>
    <div class="col-md-10 px-5  mx-auto">
    <h2>編集画面</h2>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :name, "ユーザーネーム" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
     <div class="form-group">
        <%= f.label :image, "イメージ画像" %>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, "紹介文（200字以内）" %>
        <%= f.text_area :introduction, size: '10x20', class: "form-control" %>
      </div>
      
      <% if current_user.is_admin? %>
      <div class="form-group" style="display: flex">
        <div>会員ステータス</div>
        <div>
            <%= f.radio_button :is_deleted, :false, checked: true  %>
            <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
            <%= f.radio_button :is_deleted, :ture %>
            <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
        </div>
      </div>
      <% end %>
      
      <div class="form-group">
        <%= f.submit "送信", class: 'btn btn-success btn-lg btn-block' %>
      </div>
      
    <% end %>
    
    <div class="form-group">
      <%= link_to '戻る', user_path(@user), data: { confirm: '編集したデータは失われます、戻りますか？' }, class: "btn btn-secondary" %> |
  	  <%= link_to '一覧', users_path, data: { confirm: '編集したデータは失われます、戻りますか？' }, class: "btn btn-secondary" %>
    </div>
  </div>
</div>