<table class='table'>
  <tbody>
    <% stories.each do |story| %>
      <tr>
        <td class="bg-secondary" colspan="4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h3><%= link_to story.title, story_path(story), class: "text-warning" %></h2>
        </td>
      </tr>
      <tr>
        <td style="width: 20%;">作者：</td>
        <td>
          <%= link_to user_path(story.user) do %>
           <%= story.user.name %>
          <% end %>
        </td>
        <td id="favorite_buttons_<%= story.id %>" style="width: 10%;">
          <%= render 'favorites/favorite', story: story %>
        </td>
        <td style="width: 20%;">
          <p>コメント数：<%= story.comments.count %></p>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="text-secondary" style="max-height: 150px; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5;">
            <%= simple_format(story.body) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          評価平均：<%= story.avg_rate %>
        </td>
        <td colspan="3">
          <div id="rating-avg-<%= story.id %>"></div>
        </td>
      </tr>

      <script>
        $('#rating-avg-<%= story.id %>').raty({
          size: 36,
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'comment[rate]',
          half: true,
          readOnly: true,
          score: <%= story.avg_rate %>,
        });
      </script>

      <%= render 'stories/tag', story: story %>
    <% end %>
  </tbody>
</table>
<%= paginate stories %>